/*reset*/
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}body{line-height:1}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}nav ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}ins{background-color:#ff9;color:#000;text-decoration:none}mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}del{text-decoration:line-through}abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}table{border-collapse:collapse;border-spacing:0}hr{display:block;height:1px;border:0;border-top:1px solid #cccccc;margin:1em 0;padding:0}input,select{vertical-align:middle}

html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

body {
  background-color: rgb(50, 50, 50);
  color: #3b3636;
}

#main-wrapper {
  background-color: #fefefe;
}

#header h2 {
  color: #000;
}

#nav ul {
  list-style: none;
}

#nav li {
  text-align: center;
}

#nav a {
  text-decoration: none;
  color: #000;

  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
}

iframe {
  width: 100%;
  max-width: 100%;
  height: 480px;
}

#main h1, #main h2, #main h3 {
  border-bottom: 1px solid rgb(0, 112, 133);
  margin-bottom: 5px;
}

#main h1 {
  font-size: 1.6em;
}

#main h2 {
  font-size: 1.5em;
}
#main h3 {
  font-size: 1.3em;
  padding-left: 10px;
}

#main {
  line-height: 20px;
}

#main p {
  padding-bottom: 15px;
  text-align: justify;
}


@media only screen and (max-device-width : 959px) {
  #main-wrapper {
    padding: 5px 10px;
  }
  #header {
    color: #000;
    width: 320px;
    max-width: 100%;
    margin: 0 auto;
    position: relative;
  }
  #header img {
    width: 64px;
    height: 64px;
    display: inline-block;
    position: absolute;
    left: calc(50% - 112px);
  }
  #header h2 {
    font-size: 24px;
    display: inline-block;
    position: absolute;
    top: 24px;
    left: calc(50% - 36px);
    color: #000;
  }
  #nav {
    padding-top: 64px;
    padding-bottom: 10px;
  }

  #nav a {
    line-height: 32px;
  }

  #nav a:hover {
    background-color: #929293;
  }


  #footer {

  }

  #copyright {
    font-size: 10px;
    padding: 10px 0;
  }


}

@media only screen and (min-device-width : 960px) {
  #main-wrapper {
    width: 960px;
    margin: 0px auto;
    padding: 10px;
  }

  #header {
    color: #000;
    line-height: 64px;
  }

  #header img {
    width: 64px;
    height: 64px;
    float: left;
  }

  #header h2 {
    padding-left: 4px;
    font-size: 48px;
    float: left;
  }
  #nav {
    float: right;
  }

  #nav ul li {
    display: inline;
  }

  #main {
    clear: both;
    padding-bottom: 15px;
  }

}
