/*reset*/
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}body{line-height:1}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}nav ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}ins{background-color:#ff9;color:#000;text-decoration:none}mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}del{text-decoration:line-through}abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}table{border-collapse:collapse;border-spacing:0}hr{display:block;height:1px;border:0;border-top:1px solid #cccccc;margin:1em 0;padding:0}input,select{vertical-align:middle}

html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

body {
  background-color: #F0F0F0;
  color: #3b3636;
}

#header h2 {
  color: #000;
  font-family: "Exo 2", Arial, Helvetica, sans-serif;
}

#nav ul {
	list-style:none;
  list-style-type: none;
  padding: 0;
  margin: 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

#nav li {
  text-align: center;
  float: left;
}

#nav a {
  text-decoration: none;
  padding: 5px 10px;
      background-color: #5d6578;
	 background-image: -webkit-linear-gradient(top, rgba(255,255,255,0.25) 0, rgba(255,255,255,0) 100%);
	 background-image: linear-gradient(to bottom, rgba(255,255,255,0.25) 0, rgba(255,255,255,0) 100%);
	 filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#40FFFFFF', endColorstr='#00FFFFFF');
	 box-shadow: 0 5px 5px -5px rgba(0,0,0,0.2);
	 color: #fff;
}

#nav li:first-child a {
	border-top-left-radius: 5px;
}
#nav li:last-child a {
	border-top-right-radius: 5px;
}

#nav a:hover {
	color: #BE3F36;
	background-color: #fff;
}

iframe {
  width: 100%;
  max-width: 100%;
  height: 480px;
}

#main h1, #main h2, #main h3 {
  
  padding: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: #5d6578;
	 background-image: -webkit-linear-gradient(top, rgba(255,255,255,0.25) 0, rgba(255,255,255,0) 100%);
	 background-image: linear-gradient(to bottom, rgba(255,255,255,0.25) 0, rgba(255,255,255,0) 100%);
	 filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#40FFFFFF', endColorstr='#00FFFFFF');
	 box-shadow: 0 5px 5px -5px rgba(0,0,0,0.2);
	 color: #fff;
	 font-weight: normal;
	 font-family: "Exo 2", Arial, Helvetica, sans-serif;
}

#main h1 {
  font-size: 1.6em;
}

#main h2 {
  font-size: 1.5em;
}
#main h3 {
  font-size: 1.3em;
  padding-left: 10px;
}

#main {
  line-height: 20px;
  clear:both;
  background-color: #E4E4E4;
}

#main p {
	padding: 5px 10px 15px 10px;
  
  text-align: justify;
  background-color: #fff;
}

#main a {
	color: #BE3F36;
	text-decoration: none;
}

#main a:hover {
	text-decoration: underline;
}

/**
 * GeSHi (C) 2004 - 2007 Nigel McNie, 2007 - 2014 Benny Baumann
 * (http://qbnz.com/highlighter/ and http://geshi.org/)
 */
.freebasic .de1, .freebasic .de2 {color: #000060; font-weight: normal;}
.freebasic  {overflow: scroll;white-space: nowrap;border: 1px dotted #a0a0a0; font-family: 'Droid Sans Mono', 'Lucida Console', Monaco, monospace; font-size: 100%; background-color: #f0f0f0; margin: 0; line-height: 110%; padding: 0;padding-left:40px;color: #000;}
.freebasic a:link {color: #006;}
.freebasic a:hover {background-color: #d6d6e6;}
.freebasic .head {font-family: Arial, Helvetica, sans-serif; color: #808080; font-size: 90%; font-weight: bold; background-color: #f0f0ff; border-bottom: 1px solid #d0d0d0; padding: 2px;}
.freebasic .foot {font-family: Arial, Helvetica, sans-serif; color: #808080; font-size: 90%; font-weight: bold; background-color: #f0f0ff; border-top: 1px solid #d0d0d0; padding: 2px;}
.freebasic .imp {font-weight: bold; color: red;}
.freebasic li, .freebasic .li1, .freebasic .li2 {font-family: 'Droid Sans Mono', 'Lucida Console', Monaco, monospace; color: #000060; background-color: #e0e0e0; padding-bottom: 2px;}
.freebasic .ln {width:1px;text-align:right;margin:0;padding:0 2px;vertical-align:top;}
/*.freebasic .li2 {font-weight: bold; color: #000090; line-height: 90%}*/
.freebasic .kw1 {color: #b1b100;}
.freebasic .co1 {color: #808080;font-style: normal;}
.freebasic .co2 {color: #339933;}
.freebasic .coMULTI {font-style: normal;}
.freebasic .es0 {color: #000099;font-weight: normal;}
.freebasic .br0 {color: #66cc66;}
.freebasic .sy0 {color: #66cc66;}
.freebasic .st0 {color: #ff0000;}
.freebasic .nu0 {color: #cc66cc;}
.freebasic .me0 {color: #66cc66;}
.freebasic .me {1}
.freebasic span.xtra { display:block; }


@media only screen and (max-device-width : 959px) {
  #main-wrapper {
    padding: 5px 10px;
  }
  #header {
    color: #000;
    max-width: 100%;
    margin: 0 auto;
    position: relative;
  }
  #header img {
    width: 100px;
    height: 100px;
    display: inline-block;
    position: absolute;
    left: calc(50% - 132px);
  }
  #header h2 {
    font-size: 3.6em;
    display: inline-block;
    position: absolute;
    top: 24px;
    left: calc(50% - 36px);
    color: #000;
  }
  #nav {
    padding-top: 105px;
    padding-bottom: 10px;
  }

  #nav a {
    line-height: 2em;
	 font-size: 1.9em;
  }

  #nav a:hover {
    background-color: #929293;
  }


  #footer {

  }

  #copyright {
    font-size: 10px;
    padding: 10px 0;
  }


}

@media only screen and (min-device-width : 960px) {
  #main-wrapper {
    width: 960px;
    margin: 0px auto;
    padding: 10px;
  }

  #header {
    color: #000;
    line-height: 64px;
  }

  #header img {
    width: 64px;
    height: 64px;
    float: left;
  }

  #header h2 {
    padding-left: 4px;
    font-size: 48px;
    float: left;
  }
  #nav {
    float: right;
  }

  #nav ul li {
    display: inline;
  }

  #main {
    clear: both;
    margin-top: 10px;
    position: relative;
    top: 10px;
    padding: 10px;
    padding-bottom: 15px;
    border-radius: 5px;
  }

  #main h1, #main h2 {
    text-align: right;
  }

}
